<%- include('parts/header') %>
<%- include('parts/navbar') %>


<div class="container">
    <br>
    <p class="alert alert-danger">
        Something went error
    </p>
</div>



<%- include('parts/footer') %>