
<%- include('parts/header') %>
<%- include('parts/navbar') %>



<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! User Not Be Found</h2>
        <p>Sorry but the user you are looking for does not exist or is temporarily unavailable</p>
        <a href="/">Go Home</a>
    </div>
</div>


<%- include('parts/footer') %>
